[package]
name = "syncr"
version = "0.1.0"
authors = ["Szilard Hajba <szilu@symbion.hu>"]
edition = "2018"

[dependencies]
base64 = "0.22"
clap = "4.5"
futures = "0.3"
glob = "0.3"
rollsum = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha = "1.0"
termios = "0.3"
tokio = { version = "1", features = ["full"] }

[dev-dependencies]
tempfile = "3.8"

[profile.release]
opt-level = 3
debug = 0
debug-assertions = false
lto = true
incremental = false
