[package]
name = "syncr"
version = "0.1.0"
authors = ["Szilard Hajba <szilu@symbion.hu>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-process = "2.5"
async-std = "1.13"
base64 = "0.22"
clap = "4.5"
futures = "0.3"
glob = "0.3"
lmdb = "0.8"
memmap = "0.7"
rollsum = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha = "1.0"
termios = "0.3"

[dev-dependencies]
tempfile = "3.8"
# rollsum is already in main dependencies, just documenting it's used in tests too

[profile.release]
opt-level = 3
debug = 0
debug-assertions = false
lto = true
incremental = false
